---
const { categoryPosts } = Astro.props
---
<section class="Category region">
    <div class="wrapper">
        <a href="/Khmer/1"><img src={ categoryPosts[0].data.thumb } /><span>Khmer</span></a>
        <a href="/Thai/1"><img src={ categoryPosts[1].data.thumb } /><span>Thai</span></a>
        <a href="/Chinese/1"><img src={ categoryPosts[2].data.thumb } /><span>Chinese</span></a>
        <a href="/Korean/1"><img src={ categoryPosts[3].data.thumb } /><span>Korean</span></a>
        <a href="/Travel/1"><img src={ categoryPosts[4].data.thumb } /><span>Travel</span></a>
    </div>
</section>  

<style>
    .Category .wrapper{
        display: grid;
        grid-template-columns: repeat(5, calc(100% / 5 - 8px));
        grid-gap: 10px;
        padding: 10px 0;
    }
    .Category .wrapper a{
        position: relative;
        padding-top: 56.25%;
        overflow: hidden;
    }
    .Category .wrapper a img{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
    .Category .wrapper a span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: white;
        text-shadow: 2px 2px 4px #000000;
    }

    @media only screen and (max-width:600px){
    .Ad{
        grid-template-columns: 100%;
    }
    .Category .wrapper{
        grid-template-columns: 100%;
        padding: 10px;
    }
}
</style>